{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">Add New Student</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>E-mail</th>
                    <th>Education Stage</th>
                    <th>Workload</th>
                    <th>Option</th>
                </tr>
            </thead>

            <tbody>

                {% for student in students %}
                    {% set grade = student.education_level %}
                    <tr>
                        <td>
                            <span style="background-image: url({{  student.avatar_url  }})"></span>
                            {{ student.name }}
                        </td>
                        <td>
                            {{ student.email }}
                        </td>
                        <td>
                            {% switch grade %}
                                {% case "5grade" %}
                                    Elementary School - 5th Grade
                                {% case "6grade" %}
                                    Elementary School - 6th Grade
                                {% case "7grade" %}
                                    Middle School - 7th Grade
                                {% case "8grade" %}
                                    Middle School - 8th Grade
                                {% case "freshman" %}
                                    High School - Freshman
                                {% case "sophomore" %}
                                    High School - Sophomore
                                {% case "junior" %}
                                    High School - Junior
                                {% case "senior" %}
                                    High School - Senior
                            {% endswitch %}
                         
                        </td>

                        <td>
                            {{ student.workload }} Hours
                        </td>

                        <td>
                            <a href="/students/{{ student.id }}">View</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <input 
                type="hidden" 
                name="id" 
                value={{ student.id }}
            >
    </div>
{% endblock content %}